/* ABOUT SECTION */
.about-content {
    color: var(--green);
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;    
}

.about-content h1 {
    color: var(--eggplant);
}

.about-content h3 {
    font-family: var(--font-two);
    letter-spacing: 5px;
    line-height: 100px;
}

.about-skills-p {
    font-family: var(--font-one);
    font-size: 36px;
    line-height: 16px;
    text-align: end;
}

.about-skills-b { 
    font-family: var(--font-one);
    font-size: 16px;
    line-height: 18px;
    text-align: justify;

}

.about-skills-b2 { 
    font-family: var(--font-one);
    font-size: 26px;
    line-height: 22px;
    text-align: left;

}
/* PORTFOLIO SECTION */
.portfolio {
    background: var(--eggplant);
    align-items: center;
    text-align: center;    
    padding-top: 5%;    
    padding-bottom: 5%;   
}

#portfolio-row-two {
    padding-top: 10px;
}

.art {
    padding-top: 10%;
    padding-bottom: 10%;
    background: var(--offWhite);
    /* margin: auto; */
}

.art img{
    max-width: 50%;
    margin: auto;
}
