.jumbotron {
    background: url(../assets/shoes.jpg) fixed;
    background-color: var(--eggplant);
    background-size: cover;
    height: 100vh;
    /* align-items: flex-end;     */
}
/* moves the content down */
.jumbo-container {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* .jumbo-text {
    opacity: 0;
    animation: ani1 0.5s ease-out forwards;
} */

.jumbo-text h1 {
    font-family: var(--font-one);
    font-size: 100px;
    color: var(--blush);
    
}

.jumbo-text p {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-two);
    font-style: italic;
    color: var(--offWhite);
}

@keyframes greeting {
    0%   {left:200px; top:0px;}
    25%  {top:200px;}
    50%  {top:200px;}
    75%  {top:200px;}
    100% {left:0px; top:0px;}
  }

.jumbo-greeting {
    /* width: 100px;
    height: 100px; */
    position: relative;
    /* background-color: red; */
    animation-name: greeting;
    animation-duration: 5s;
  }
