a {
    font-size: larger;
    color: cadetblue;
}

a:link {
    text-decoration: none;
    /* font-size: 18px;
    font-weight: bolder; */
    color: var(--green);
}

a:hover {
    /* text-decoration: underline wavy; */
    color: var(--peach);
    background-color: var(--green);
}

footer a:hover {
    background-color: transparent;
    position: relative;
    top: -15px;
    left: -25px;    
}