:root {
    --eggplant: #4F4846;
    --blush: #E8CEBF;
    --peach: #DDAF94;
    --offWhite: #FDF8F5;
    --green: #266150;

    --font-one: 'Open Sans', sans-serif;
    --font-two: 'Quicksand', sans-serif;
    --font-three: 'Great Vibes', cursive;
}

/*  FONTS
    Varela Round
    Comfortaa
    open sans - paragraphs
    quicksand - san serif
    wire one - san serif, condensed
    Major Mono Display

    Great Vibes - handwriting for quotes
    Homemade Apple - handwriting, chalky
*/

/*  #DDAF94 - PEACH, MAKEUP TAN
    #E8CEBF - BEIGH, BLUSH
    #266150 - GREEN, COMPLIMENTARY GREEN
    #4F4846 - EGGPLANT, DARK HIGHLIGHT
    #FDF8F5 - LIGHTLY OFF WHITE 
*/

/*  
    #A3BCB6 - OLIVE
    #39603D - GREEN LEAF
    #3C403D - BROWN GREY
    #DADED4 - TANLY
    #FFFFFF - WHITE
*/

/* 
    #FBE3E8 - PINKY
    #5CBDB9 - BLUE GREENY
    #EBF6F5 - TEENY GREENY
*/

/* 
    #B5E9E9 - TINY SWEET BLUE
    #F3F6DD - CREAMY LIGHT tAN
    #FFE1D0 - PINKY PIE
    #FFFIB5 - YELLOW HORSE
    #DEF3D0 - GREEN THUMB

*/